__pycache__
**/__pycache__
*.pyc
**/*.pyc
.pytest_cache
**/.pytest_cache
.coverage
**/.coverage
htmlcov
**/htmlcov
.env
**/.env
.env.*
**/.env.*
!.env.example
!**/.env.example
.venv
**/.venv
tests
**/tests
*.egg-info
**/*.egg-info
*.log
**/*.log
.DS_Store
**/.DS_Store

